padding-top: (@paddingTop * 1rem);
padding-bottom: (@paddingBottom * 1rem);
& when (@bg-type = 'color') {
  background-color: @bg-value;
}
& when (@bg-type = 'image') {
  background-image: url(@bg-value);
}
.mbr-fallback-image.disabled {
  display: none;
}
.mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  & when (@bg-type = 'video') {
    background-image: url(@fallBackImage);
  }
}
.title-wrapper {
  .mbr-section-title {
    margin-bottom: 60px;
    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
  }
}
.items-wrapper {
  margin: 0 -2px;
  .item {
    padding: 0 2px;
    margin-bottom: 4px;
    @media (max-width: 992px) {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .item-wrapper {
      height: 100%;
      background-color: @cardBg;
      .item-img {
        margin-bottom: 20px;
        img {
          height: 450px;
          object-fit: cover;
          @media (max-width: 992px) {
            height: 300px;
          }
        }
      }
      .card-box {
        padding: 56px;
        @media (max-width: 992px) {
          padding: 20px;
        }
        .card-title {
          margin-bottom: 14px;
        }
        .card-text {
          margin-bottom: 0;
        }
        .card-price {
          margin-top: 40px;
          @media (max-width: 992px) {
            margin-top: 20px;
          }
        }
        .mbr-section-btn {
          margin-top: 14px;
          .btn {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.mbr-section-title {
  color: #0f0f0f;
}
.card-title {
  color: #0f0f0f;
}
.card-text {
  color: #666666;
}
.card-price {
  color: #0f0f0f;
}
